<div class="container-fluid" id="div_container">
  <div class="row">
    <div class="container-fluid">
      <a routerLink="employee" routerLinkActive="active">
        <button id="button_tile" mat-raised-button>Directory</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <a routerLink="teams" routerLinkActive="active">
        <button id="button_tile" mat-raised-button>Teams</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
        <a routerLink="events" routerLinkActive="active">
      <button id="button_tile" mat-raised-button>Events</button>
          </a>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
        <a routerLink="allAnnivarsaries" routerLinkActive="active">
      <button id="button_tile" mat-raised-button>Anniversaries</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
        <a routerLink="findtalent" routerLinkActive="active">
      <button id="button_tile" mat-raised-button>Find Talent</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
        <a routerLink="spoc" routerLinkActive="active">
      <button id="button_tile" mat-raised-button>SPOC</button>
      </a>
    </div>
  </div>
</div>