.events-container {
    display: flex;
    flex-direction: column;
  }
  
  .events-container > * {
    width: 100%;
  }

 #datePicker {
   width: 30%;
 }
mat-card {
  width: 90%
}
button {
  margin-left: 10px;
}