<div class="container-fluid" >
  <div class="row">
    <h2> {{teamEmployees?.teamName}}'s Details</h2>
  </div>

  <div class="row">
   <div class="col-12">
     <table class="table">
       <tr>
          <td>Team ID :</td>
          <td>{{teamEmployees?.teamId}}</td>
       </tr>

       <tr>
          <td>Team Name :</td>
          <td>{{teamEmployees?.teamName}}</td>
       </tr>

       <tr>
          <td>Team Lead :</td>
          <td>{{teamEmployees?.leadName}}</td>
       </tr>

       <tr>
          <td>Team Description :</td>
          <td>{{teamEmployees?.teamDiscription}}</td>
       </tr>
     </table>
   </div>
  </div>

 <div class="row">
      <h2> {{teamEmployees?.teamName}}'s Members</h2>
 </div>

  <div class="row"  *ngFor="let item of teamEmployees?.teamEmployees">
      <a routerLink="/employee/{{item.employeeId}}" class="container-fluid">
        <mat-card id="employee_tile" >
          <table>
            <tr>
              <td>
                <tr><h3 matLine>{{item.firstName}} {{item.lastName}}</h3></tr>
                <tr><p matLine>{{item.role.roleName}}</p></tr>
              </td>
              <td>
                <img [src]="item.photoUrl+item.employeeId">
              </td> 
            </tr>

          </table>
            
            
        </mat-card>
      </a>
</div>  

</div> 
